.background2{
    background: #fff;
    /* height: 655px; */
    transform: skewY(-12deg);
    z-index: -5;
}
.back2{
    background: #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    /* top: -100px; */
    z-index: -5;
    

}
 .stripes2 {
    display: grid;
    grid: repeat(7, 75px) / repeat(22, 1fr);
    position: relative;
    top: 400px;
    transform: skewY(-12deg);
    transform-origin: 0;
}

 .stripes2  .outline {
    grid-row: 3;
    grid-column: 19/ span 4;
    box-shadow: inset 0 0 0 2px #e6ebf1;
    z-index: -1;


  }
  
.stripes2 .outline_shift-down {

    grid-row: 7 ;
    grid-column: 16/ span 5;
    box-shadow: inset 0 0 0 2px #e6ebf1;


}



 
 


  .stripes2 .state8 {
    grid-row: 6;
    grid-column: 14/ span 8;
    background: #e6ebf1;
  }
  

