.Card{
    -webkit-mask-image: url('../../../img/card.svg');
    -webkit-mask-repeat: no-repeat;
    background-color: #32325D;
    -webkit-mask-size:73px 45px;
    padding: 0 10px;
    margin: 10px 0;
}
.Card:hover{

}

.AliPay{
    -webkit-mask-image: url('../../../img/alipay.svg');
    -webkit-mask-repeat: no-repeat;
    background-color: #32325D;
    -webkit-mask-size:73px 45px;
    padding: 0 10px;
    margin: 10px 0;
}
.AliPay:hover{
 
}
.Sepa{
    -webkit-mask-image: url('../../../img/sepa.svg');
    -webkit-mask-repeat: no-repeat;
    background-color: #32325D;
    -webkit-mask-size:73px 45px;
    padding: 0 10px;
    margin: 10px 0;
}
.Sepa:hover{
    background-color: #32325D;

}
.Ideal{
    -webkit-mask-image: url('../../../img/ideal.svg');
    -webkit-mask-repeat: no-repeat;
    background-color: #32325D;
    -webkit-mask-size:73px 45px;
    padding: 0 10px;
    margin: 10px 0;
}
.Ideal:hover{

    background-color: #32325D;
}
.More:before{
    content:'...';
    margin-left: 30px;
    font-size: 35px;
    color: #32325D;;


}
.More:before:hover{
   
}

.ShoppingBag{
    -webkit-mask-image: url('../../../img/ShoppingBag.svg');
    -webkit-mask-repeat: no-repeat;
    background-color: #fff;
    -webkit-mask-size: 24px 24px;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -3px;
    left: 159px;
}

