.background{
    background: #f6f9fc;
    height: 655px;
    transform: skewY(-12deg);
    z-index: 1;
}
.back{
    background: #f6f9fc;
    height: 500px;
    width: 100%;
    position: absolute;
    top: -100px;
    z-index: -1;
    

}
 .stripes {
    display: grid;
    grid: repeat(14, 85px) / repeat(22, 1fr);
    position: relative;
    top: -110px;
    /* transform: skewY(-12deg); */
    transform-origin: 0;
}

 .stripes  .outline {
    grid-row: 6;
    grid-column: 2/ span 3;
    box-shadow: inset 0 0 0 2px #e6ebf1;
    z-index: -1;
    transform: translateY(37px);

  }
  
.stripes .outline_shift-down {
    transform: translateY(-53px);
    grid-row: 3;
    grid-column: 16/ span 1;
    box-shadow: inset 0 0 0 2px #e6ebf1;


}

.stripes .outline_shift {
   transform: translateY(-2px);
   grid-row: 12;
   grid-column: 2/span 2;
   box-shadow: inset 0 0 0 2px #e6ebf1;
}

.stripes .outline_shift-up {
    grid-row: 13;
    grid-column: 18/span 2;
    box-shadow: inset 0 0 0 2px #e6ebf1;
 }
 
 


  .stripes .state8 {
    grid-row: 4;
    grid-column: 1 / span 4;
    background: #e6ebf1;
  }
  


  .stripes .blue4 {
    grid-row: 9;
    grid-column: 1/ span 5;
    background: #32325d;
    ;
  }

  .stripes .state8_right {
    grid-row: 10;
    grid-column: 18 / span 3;
    background: #e6ebf1;
  }
  .stripes .state8_right2 {
    grid-row: 14;
    grid-column: 20 / span 2;
    background: #e6ebf1;
  }
  .stripes .state8_right3 {
    grid-row: 10;
    grid-column: 18 / span 3;
    background: #e6ebf1;
  }
  .stripes .blue4_right {
    grid-row: 7;
    grid-column: 17/ span 3;
    background: #32325d;
    ;
  }
  .stripes .blue4_right1 {
    grid-row: 5;
    grid-column: 20/ span 3;
    background: #32325d;
    ;
  }

 .stripes .blue1{
    grid-row: 8;
    grid-column: 2/span 2;
    background: #6772e5;

  }

  .stripes .blue1_right{
    grid-row: 6;
    grid-column: 16/span 5;
    background: #6772e5;

  }

  .stripes .blue1_right2{
    grid-row: 12;
    grid-column: 16/span 6;
    background: #6772e5;

  }

  .stripes .yellow6_right{
    grid-row: 5;
    grid-column: 18/ span 2;
    background: #fcd669;
  }
  .stripes .yellow6{
    grid-row: 10;
    grid-column: 3/ span 2;
    background: #fcd669;
  }

  .stripes .yellow6_right1{
    grid-row: 9;
    grid-column: 19/ span 3;
    background: #fcd669;
  }
  .stripes .blue6_right{
    grid-row: 8;
    grid-column: 12/span 11;
    background: #87bbfd;
  }


